.two_box {
  display: flex;
  justify-content: space-around;
  column-count: 2;
}

.second_textbox {
  display: flex;
  justify-content: space-around;
  column-count: 1;
}

.two_box div {
  margin-top: 15px;
  background-color: red;
  width: 40%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
 }

.second_textbox p{
    margin-top: 15px;
    background-color: lightblue;
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.wrapper a{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

body {
  background: grey;
}

.wrapper h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-style: bold;
  font-family: 'Times New Roman';
  padding: 5px;
}

.interior {
  display: flex;
  background-color: pink;
  height: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
